<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CakeStarter</title>
  <meta name="description" content="It's about cake.. and bombs!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="stylesheets/create.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body ng-controller="CakeController">

    <div ng-view></div>

    <div><img class = "newappIcon" src="https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png"></div>
    <div class=header-box ng-show="!gameOver">CAKE starter</div>


    <div class=participants-holder ng-show="!gameOver">
        <div>Current Total: {{currentTotal}} mBTC</div>

        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{(currentTotal / inputAmount)*100}}%">
                {{(currentTotal / inputAmount)*100}}% Complete
            </div>
        </div>


        <table class="table">
            <tr ng-repeat="participant in participants">
                <td>{{participant.name}} <h6>({{participant.address}})</h6></td>
                <td>{{participant.amount}} mBTC</td>
            </tr>
        </table>

        <div class="form-group">
          <form class="form-signin" ng-submit="joinGame()">
          <label for="userName" class="sr-only">Name:</label>
          <input type="text" class="form-control" id="userName" ng-model="userName">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
          </form>
        </div>
    </div>

    <div class="gameOverContainer alert alert-warning banner-middle" role="alert" ng-show="gameOver">
        <h1>GAME OVER!</h1>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script>
    <script src="services/player-service.js"></script>
    <script src="services/game-service.js"></script>
</body>
</html>
